In [1]:
import pandas as pd

/Users/akhilbhale/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/akhilbhale/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_parquet("yellow_tripdata_2024-07.parquet")

In [3]:
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2024-07-01 00:34:56   2024-07-01 00:46:49              1.0
1         2  2024-06-30 23:48:58   2024-07-01 00:28:04              1.0
2         2  2024-07-01 00:23:18   2024-07-01 00:29:51              1.0
3         1  2024-07-01 00:10:33   2024-07-01 00:27:31              0.0
4         1  2024-07-01 00:07:55   2024-07-01 00:34:34              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           3.20         1.0                  N           140            79
1          19.48         2.0                  N           132           113
2           1.18         1.0                  N           237           145
3           9.10         1.0                  N           138           164
4          17.70         2.0                  N           132           263

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         15.6   3.50      0.5        3.50          0.00
1             2         70.0   0.00      0.5        0.00          0.00
2             1          8.6   1.00      0.5        2.72          0.00
3             1         36.6  10.25      0.5       12.05          0.00
4             1         70.0   1.75      0.5       10.00          6.94

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         24.10                   2.5         0.00
1                    1.0         75.75                   2.5         1.75
2                    1.0         16.32                   2.5         0.00
3                    1.0         60.40                   2.5         1.75
4                    1.0         90.19                   0.0         1.75

In [4]:
print("Rows: ", df.shape[0])

Rows:  3076903

In [5]:
print("Columns: ", df.shape[1])

Columns:  19

In [ ]:
print("Column Names:", df.columns.to_list())